
.titulo {
    text-align: center;
    font-weight: bolder;;
    font-size: 60px;
}

.div-header{
    border: black 2px solid;
    background-color: rgb(186, 242, 195);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    padding-left: 250px;
    padding-right: 250px;
}

.estatua {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    border: 4px red solid;
    box-shadow: 5px 5px 15px;
    margin-top: 50px;
    margin-bottom: 30px;

}

.paragrafo-sonho {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: left;
    
}

.bandeira {
    float: right;
    display: block;
    margin-right: 50px;
    height: 20%;
    width: 40%; 
}

.bandeira2 {
    float: right;
    height: 33vh;
    width: 30vw;
}

.epic-america {
    text-align: center;
    font-size: 22px;
}

.linha {
    border-top: rgb(22, 78, 68) 1px solid;
    margin-left: 70px;
    margin-right: 70px;
}

.dream {
    color: rgb(22, 78, 68);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.dream-trad{
    color: rgb(72, 146, 202);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
}

.paragrafo-trad{
    text-align: center;
    font-size: 22px;
    margin-left: 150px;
    margin-right: 150px;
}

.optismo {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.trabalhador{
    color: rgb(22, 78, 68);
     text-decoration: underline;
}

.frase-james{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intelecto {
    color: rgb(43, 96, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    font-size: 35px;
}

.abismo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-align: left;
    color: red;
}

.acesso{
    font-size: 35px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(213, 117, 66);
} 

.caixas{
    border: 2px black solid;
    padding-bottom: 75px;
}

.black-lives{
    width: 30vw;
    height: 80vh;
    margin-top: 30px;
    margin-left: 15px;
}

.caixas2{
     border: 2px black solid;
     text-align: right; 
     font-size: 23px;
     margin-top: 29px;
}

.criancas{
    color: rgb(89, 4, 89);
    font-family: Arial, Helvetica, sans-serif;
}

.sonho-fato {
    font-size: 28px;
    color: rgb(43, 96, 112);
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafo-fato{
    margin-left: 30px;
    text-align: center;
    margin-right: 20px;
}

.caixa-3{
    text-align: center;
    border: solid 2px black;
    width: 25%;
    min-width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 280px;
}

.caixa-declinio{
   border: 2px solid black; 
   width: 35%; 
    min-width: 150px;
   padding: 4px; 
   margin-left: 30px;
   margin-right: 5px; 
   min-height: 280px;
   color: rgb(89, 4, 89);
    font-size: 27px ;
    text-align: right;
}

.caixa-disparidade{
   border: 2px solid black; 
   width: 35%; 
    min-width: 150px;
   padding: 4px; 
   margin-left: 30px;
   margin-right: 5px; 
   min-height: 280px;
   color: rgb(213, 117, 66);
    font-size: 27px;
    text-align: left;
}

.caixa-millenials{
    background-color: rgb(196, 226, 249);
    border: solid 2px black;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    min-width:100px;
    margin-right: 20px;
}

.millennials-titulo{
    text-decoration: underline;
    color: rgb(213, 117, 66);
    text-align: right;
    font-size: 30px;
}

.millenials{
    font-size: 25px;
    text-align: center;
}

.caixa-geracaoX{
    border: solid 2px black;
    width: 55%;
    min-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 190, 161);

}

.geracao-titulo{
    color: rgb(72, 146, 202);
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}

.texto-geracao{
    font-size: 25px;
    text-align: right;
}

.caixa-geracaoY{
    border: black 2px solid;
    background-color: rgb(211, 247, 216);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}

.titulo-geracaoZ{
    color: red;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

.texto-geracaoZ{
    text-align: center;
    font-size: 25px;
}

.geracoes{
    text-align: center;
    color: rgb(28, 73, 87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.div-pop{
    margin-top: 80px;
    margin-bottom: 80px;
}
.populacao-mark{
    background-color: blue;
    color: yellow;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.image-mob{
    float: left;
    height: 55vh;
    width: 38vw;
    min-width: 100px;
    min-height: 150px;
}

.text-img-mob{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(28, 73, 87);
    margin-left: 80px;
    float: left;
}

.american-img{
    width: 20vw;
    height: 45vh;
    min-width: 200px;
    min-height: 150px;
    box-shadow: 2px 2px 15px;
}

.div-protestos{
    width: 30%;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.justica-img{
    width: 25vw;
    height: 30vh;
}

.container-flex{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cx-txt-mundo{
    border-top: 2px black solid;
    border-bottom: 2px solid black; 
}